.file-input-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-input-wrapper img {
  display: block;
  max-width: 200px; /* Ajusta el tamaño de la imagen según sea necesario */
  cursor: pointer;
  border-radius: 25px;
}

.colImagenEntrada {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.conten {
  background-color: rgb(17, 33, 22);
}
.tipoLetra h1 {
  font-family: "Times New Roman", Times, serif;
}
.tipoLetra {
  font-family: "Times New Roman", Times, serif;
}

.descripcionImagen p {
  color: #d9d8de;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
/* 
.form-floating ::after {
  background-color: transparent;

  color: transparent;
  border: solid 2px black;
} */

/* ACA VA ESTAR EL DISEÑO DEL REGISTRO */

.contenedorBotones {
  display: flex;
}

.botones {
  margin-left: 5px;
}
.botones button {
  width: 100%;
  font-size: 17px;
}
