body {
  font-family: "Arial", sans-serif;
}

header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  border-radius: 50%;
}

.nav-link {
  color: #ffffff !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffd700 !important;
}

.form-control {
  border-radius: 20px;
}

.btn-outline-light {
  border-radius: 20px;
}

.perfilUsuario {
  margin-left: auto;
}
.perfilUsuario img {
  border-radius: 70px;
}
