.contenedorComentarios {
  display: flex;
}
.contenedorInput {
  margin-left: auto;
  display: flex;
}
.btnPublicarComentario {
  margin-left: 5px;
}
.btnPublicar {
  border-radius: 5px;
  color: #d9d8de;
  background-color: transparent;
  font-family: "Times New Roman", Times, serif;
  height: 35px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.btnPublicar:hover {
  background-color: #d9d8de;
  color: black;
  transform: scale(1.1); /* Aumenta el tama침o al 110% */
  font-family: "Times New Roman", Times, serif;
}

.textoInput {
  background-color: transparent;
  color: #d9d8de;
  font-family: "Times New Roman", Times, serif;
}

.inputComentar {
  background-color: transparent;
}
.inputComentar:focus {
  background-color: #1d1d1d;
  color: #d9d8de;
}

.inputComentar::placeholder {
  color: #d9d8de;
  font-family: "Times New Roman", Times, serif;
}
.infoPerfil {
  display: flex;
}

.contenedorNombrePerfil {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.contenedorCarga {
  display: flex;
  justify-content: center;
}

.formularioPublicacion {
  margin-left: auto;
}

/* Dise침o de los comentarios */

.contenedorBTNEditar {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease; /* Transici칩n suave */
}

.contenedorBTNEditar:hover {
  transform: scale(1.4); /* Zoom al pasar el mouse */
}

.contenedorBTNBorrar {
  margin-right: 10px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease; /* Transici칩n suave */
}

.contenedorBTNBorrar:hover {
  transform: scale(1.4); /* Zoom al pasar el mouse */
}

.disenoModal {
  background-color: #1d1d1d;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
}

.btnGuardarCometario {
  border-radius: 5px;
  color: #d9d8de;
  background-color: transparent;
  font-family: "Times New Roman", Times, serif;
  height: 35px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btnCancelarComentario {
  border-radius: 5px;
  color: #d9d8de;
  background-color: transparent;
  font-family: "Times New Roman", Times, serif;
  height: 35px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.cometarioNuevo {
  width: 100%;
  height: 45px;
  background-color: transparent;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
}
